<!DOCTYPE html>
<html data-ng-app="myApp">
<head>
	<title>Using AngularJS Directives and Data Binding</title>
</head>
<body data-ng-controller="myController">

	Name <input type="text" ng-model="nameText" />
	<script type="text/javascript" src="scripts/angular.min.js"></script>
	<ul>
		<li ng-repeat="cust in customers | filter: nameText | orderBy: 'name'">{{cust.name | uppercase}} - {{cust.city}}</li>
	</ul>
	<script type="text/javascript">
	var myApp = angular.module("myApp", []);
	myApp.controller("myController", function($scope){
		$scope.customers=[{name: "Chirag Aggarwal", city: "New Delhi"}, {name: "Ayushi Goel", city: "New Delhi"}, {name: "Rajni Aggarwal", city: "New Delhi"}, {name: "Ravikahth Andhavarapu", city: "Hyderabad"}]
	});
	</script>
</body>
</html>